{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %} {% endblock stylesheets %} {% block content %}

<div class="content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Graph 1</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-bell-55 text-primary"></i> Example 1
          </h3>
        </div>
        <img src="/static/images/metrics_plot.png" alt="Metrics Plot" style="width: 675px; height: auto;">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Graph 2</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-delivery-fast text-info"></i> Example 2
          </h3>
        </div>
        <img src="/static/images/metrics_plot.png" alt="Metrics Plot" style="width: 675px; height: auto;">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Graph 3</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-success"></i> Example 3
          </h3>
        </div>
        <img src="/static/images/metrics_plot-3.png" alt="Metrics Plot" style="width: 675px; height: auto;">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Graph 3</h5>
          <h3 class="card-title">
            <i class="tim-icons icon-send text-success"></i> Example 3
          </h3>
        </div>
        <img src="/static/images/metrics_plot-3.png" alt="Metrics Plot" style="width: 675px; height: auto;">
      </div>
    </div>
  </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function () {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();
  });
</script>

{% endblock javascripts %}

<div class="card-body" style="height: 440px;">
  <div class="chart-area"style="height: 410px;">
    <img src="/static/images/metrics_plot.png" alt="Metrics Plot" style="width: 675px; height: auto;">
    <!-- <canvas id="chartBig1"></canvas> -->
  </div>
</div>